.git
.gitignore
.vscode
.vs
.dotnet-home
.tools
.archive
desktop-electron
overwolf-native
tools
docs
scripts
WarframeInventory/WarframeInventory.Tests
**/bin
**/obj
**/out
out
**/appsettings.json
**/appsettings.Development.json
*.user
*.log
*.db
*.db-shm
*.db-wal
